body{
    background-color:blue;
}
.lo{
    display: flex;
    justify-content:flex-end;
}
.logo{
    height:60px;
    border-radius:50px;
    border-radius:50px;
}
.ko{
    color: rgb(71, 165, 42);
    display: flex;
    justify-items:center;
    justify-content: center;
}
.im{
    height:53vh;
  gap: 100px;
   
    display: flex;
    align-items: flex-end;
}
.bo{
    background-color:cadetblue;
    color: red;
    width: 100px;
    margin-top:150px;
    margin-left:40px;
    cursor: pointer;
}
.bo:hover{
    background-color: chartreuse;
    color: darkkhaki;
    transform: scale(1.1);
}
@media (max-width:1000px){
.ko{
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.img{
    
    height: 90px;

}
.im{
    gap:100px;
}
.bo{
    height:50px;
    width: 150px;

}
}